<div class="main no-margin">
  <div class="container">
  	<nav id="menu">

    <ul>
        
        
        <div class="float-left">
	        <li><a href="#">-</a></li>
        </div>

        <li><a href="#">Contato</a></li>

        <li><a href="#">Quem somos</a></li>

        <li><a href="#">Sobre</a></li>

        <li><a href="#">Cadastro</a></li>

        <li><a href="#">Entrar</a></li>

	    <p align="center" style="color:white;">Bem vindo(a) Visitante</p>
      
    </ul>

<ul>

  <li class="dropdown float-left">
    <a class="dropbtn">-</a>
    <div class="dropdown-content">
      <a href="#">Museus</a>
      <a href="#">Teatros</a>
      <a href="#">Mercados Públicos</a>
      <a href="#">Feiras</a>
      <a href="#">Pontes</a>
      <a href="#">Centros de Compra</a>
    </div>
  </li>
  <h1 align="center" style="color:white;">Recife Cultural</h1>
</ul>


</nav>

<div>

<h1 align="center">IMAGEM</h1>

<h1 align="center">Encontre seu próximo destino cultural no recife</h1>

</div>

<div>

</div>

<div align="center" style="
    display: block;
    width: 440px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f3f3f3;">

    <div style="height: 180px; width: 380px; ">

	    <h2 style="padding-top: 20px;">Pesquisar roteiros culturais</h2>

	    <div style="margin-top: 10px;">
		     <select class="float-left">
			  <option value="roteiro1">tipo de roteiro 1</option>
			  <option value="roteiro2">tipo de roteiro 2</option>
			  <option value="roteiro3">tipo de roteiro 3</option>
			  <option value="roteiro4">tipo de roteiro 4</option>
			</select> 
			<button class="float-right"> calendário </button>
			<button class="float-right"> data </button>
		</div>

		<div style="background-color: blue; margin-top: 80px; display: block;">

		<a class="float-left" href="#">mais filtros</a>

		<button class="float-right"> busca </button>

		</div>
	</div>

</div>

  </div>
</div>